/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

html {
    font-size: 16px;
}

body {
    margin: 1.5rem auto;
    width: 90%;
}
 section {
    float: left;
 }
 

 h1 {
    letter-spacing: .125rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.75rem;
    margin: 1.125;
    text-align: center;
    text-shadow: #000;
    transform: skewX(10deg);
 }

 section, aside, nav, footer {
    padding: .5rem;
  }

  nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    border-top: .125rem solid #000;
    border-bottom: .125rem solid #000;
    word-spacing: 3rem;
  }

  figure {
    float: left;
  }
  
  .subsection {
        grid-column-end: auto;
  }

  .main-section {
    display: flex;
    flex-direction: column;
  }